# Backend API Base URL
VITE_API_URL=http://localhost:5000/api/v1

# Google OAuth 2.0 Web Client ID (From Google Cloud Console)
VITE_GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
